.header-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 10vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.header-container-left {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.header-container-right {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.about-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffefe;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);
}

.research-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffefe;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);
}

.about-container {
    /* let two divs parallel next to each other */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin: 3%;
    border-color: #ebebeb;
    border-radius: 3%;
    border-style: solid;
    border-width: medium;
    background-color: #ffffff;

}

#selfPicture:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.button {
    border-color: black;
    border-radius: 8px;
    padding: 1%;
    margin: 3%;
    text-align: center;
    border-style: solid;
    background-color: #8dd4f5;
}
/* make button display on the same row but with space in between */
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0%;

}
.button:hover {
    /* MAKE IT CHANGE COLOR SLOWLY */
    transition: 0.5s;
    background-color: #f2b5b5;
}
a.button {
    text-decoration: none;
  }
#pdf-image {
    display: inline-block;
    height: 2.5rem;
    vertical-align: middle;
    margin-bottom: 0px;
}

.about-container-left {
    /* let the image fit to the width of this container */
    display: flex;
    align-items: left;
    max-width: 50%;
    padding: 5%
}

.description-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: left;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(20px); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0px); */
    }
}

.about-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    padding: 5%;
}

.welcome-text-container {
    /* set background to be white with opacity to be 20% and let the border to be black */
    background-color: rgba(192, 180, 180, 0.2);
    max-width: 80%;
    border-bottom: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #f6f2f2;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    /* Adjust as needed */
    animation:
        typing 4s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(197, 200, 213)
    }
} 

.main-font {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffefe;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);
}
.icon-container{
    display:flow;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    /* arrange div order into column and not row */
    .about-container {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .about-outer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
        /* Styles to make the <div> display as a column */
        /* display: flex;
        flex-direction: column; or flex, or whatever layout you prefer
        Add other styles to control the appearance in column layout */
}
