@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --emphasis: #1c274a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--source-serif-font), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

/* change color for emphasis class*/
.emphasis-text {
  color: var(--emphasis);
  font-size: medium;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
